name: "[CI] PR"
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
permissions:
  contents: read

jobs:
  check-generate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
    - run: hack/check-generate.sh
